:root {
    --primary-color: #00BFA6;
    --secondary-color: #2F2E41;
    --neutral-500: #C2C2C2;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--secondary-color);
    font-family: "JetBrains Mono", monospace;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.page {
    max-width: 108rem;
    margin: 7.2rem auto 2.4rem;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 6.4rem;
}

.header__menu-item a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    text-decoration: none;

    color: var(--white);

    cursor: pointer;

    transition: color 0.1s ease-in-out;
}

.header__menu-item a:hover {
    color: var(--primary-color);
}

.security {
    display: flex;
    justify-content: space-between;

    gap: 6.4rem;
}

.security__content {
    text-align: center;
}

.security__content-title {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4rem;

    color: var(--white);
    margin-top: 6px;
    margin-bottom: 6.4rem;
}

.security__content-title span {
    color: var(--primary-color);
}

.security__content-text {
    max-width: 60.4rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;

    color: var(--neutral-500);
}

.security__content-text span {
    color: var(--primary-color);
}

.footer {
    max-width: 56.8rem;
    margin: 0 auto;

    border-top: 1px solid var(--primary-color);
    padding: 2.8rem;

    text-align: center;
}

.footer__text {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    color: var(--white);
}

.footer__text a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.1s ease-in-out;
}

.footer__text a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.padlock {
    position: absolute;
    bottom: 2.4rem;
    left: 2.4rem;
}

@media (max-width: 768px) {
    body {
        height: auto;
    }

    .page {
        margin: 4.8rem auto 2.4rem;
        gap: 4.8rem;
    }

    .header {
        flex-direction: column;
        gap: 3.2rem;
    }

    .security__img {
        max-width: 40rem;
        margin: 0 auto;
    }

    .security {
        flex-direction: column;
    }

    .padlock {
        visibility: hidden;
    }
}

@media (max-width: 1280px) {
    .page {
        padding: 0 2.4rem;
    }
}

/* KEYFRAMES */

.slide-in-right {
    -webkit-animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-13 23:30:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}